* {
  box-sizing: border-box;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
}
.App {
}
.welcome-message {
  margin-bottom: 15px;
}
.navimg {
  width: 100%;
  height: 200px;
  z-index: 1;
}
.home {
  left: 200px;
  top: -100px;
}
nav {
  width: 100%;
  height: 120px;
  background-image: url(assents/nav3.png);
  background-repeat: inherit;
  margin-bottom: 0 px;
  padding-bottom: 0 px;
}

.poke-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
}

.imagen {
  position: absolute; /*para sacar la imagen del flujo*/
  right: 0; /*Mandarlo a la derecha*/
  top: 5;
}
.cardokemon p {
  text-align: left; /*movemos el txt a la derecha <p>*/
}
.bugcol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px #aedf78;
  position: relative; /*Para mover la imagen debajo*/
  padding: 10px;
}
.watercol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px #43ccff;
  position: relative; /*Para mover la imagen debajo*/
  padding: 10px;
}
.grasscol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px #00ca91;
  position: relative; /*Para mover la imagen debajo*/
  padding: 10px;
}
.firecol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px #e95c4d;
  position: relative; /*Para mover la imagen debajo*/
  padding: 10px;
}
.normalcol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px #a5a5a5;
  position: relative; /*Para mover la imagen debajo*/
  padding: 10px;
}

.bug {
  background: #aedf78;
  border-radius: 10%;
}
.water {
  background: #43ccff;
  border-radius: 10%;
}
.grass {
  background: #00ca91;
  border-radius: 10%;
}
.fire {
  background: #e95c4d;
  border-radius: 10%;
}
.fightingcol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px blueviolet;
  position: relative; /*Para mover la imagen debajo*/
  padding: 10px;
}
.fighting {
  background: blueviolet;
  border-radius: 10%;
}
.fighting p {
  text-align: left;
}
.poisoncol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px rgb(127, 127, 231);
  position: relative; /*Para mover la imagen debajo*/
  padding: 10px;
}
.poison {
  background: rgb(127, 127, 231);
  border-radius: 10%;
}
.poison p {
  text-align: left;
}
.rockcol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px rgb(1, 1, 10);
  position: relative; /*Para mover la imagen debajo*/
  padding: 5px;
}
.rock {
  background: rgba(1, 1, 10, 0.425);
  border-radius: 5%;
}
.rock p {
  text-align: left;
  padding-left: 5px;
  color: aliceblue;
}
.ghostcol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px rgba(104, 46, 158, 0.692);
  position: relative; /*Para mover la imagen debajo*/
  padding: 5px;
}
.ghost {
  background: rgba(104, 46, 158, 0.692);
  border-radius: 5%;
}
.ghost p {
  text-align: left;
  padding-left: 5px;
}
.electriccol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px yellow;
  position: relative; /*Para mover la imagen debajo*/
  padding: 5px;
}
.electric {
  background: yellow;
  border-radius: 5%;
}
.electric p {
  text-align: left;
  padding-left: 5px;
}
.steelcol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px rgb(167, 164, 164);
  position: relative; /*Para mover la imagen debajo*/
  padding: 5px;
}
.steel {
  background: rgb(167, 164, 164);
  border-radius: 5%;
}
.steel p {
  text-align: left;
  padding-left: 5px;
}
.psychiccol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px rgb(128, 128, 3);
  position: relative; /*Para mover la imagen debajo*/
  padding: 5px;
}
.psychic {
  background: rgb(128, 128, 3);
  border-radius: 5%;
}
.psychic p {
  text-align: left;
  padding-left: 5px;
}
.icecol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px rgb(78, 184, 255);
  position: relative; /*Para mover la imagen debajo*/
  padding: 5px;
}
.ice {
  background: rgb(78, 184, 255);
  border-radius: 5%;
}
.ice p {
  text-align: left;
  padding-left: 5px;
}
.dragoncol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px rgb(11, 220, 0);
  position: relative; /*Para mover la imagen debajo*/
  padding: 5px;
}
.dragon {
  background: rgb(11, 220, 0);
  border-radius: 5%;
}
.dragon p {
  text-align: left;
  padding-left: 5px;
}
.darkcol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px rgba(86, 27, 134, 0.705);
  position: relative; /*Para mover la imagen debajo*/
  padding: 5px;
}
.dark {
  background: rgba(86, 27, 134, 0.705);
  border-radius: 5%;
}
.dark p {
  text-align: left;
  padding-left: 5px;
}
.fairycol {
  width: 190px;
  height: 160px;
  border-radius: 15%;
  background-color: rgb(250, 246, 248);
  border: solid 5px rgba(241, 99, 196, 0.705);
  position: relative; /*Para mover la imagen debajo*/
  padding: 5px;
}
.fairy {
  background: rgba(241, 99, 196, 0.705);
  border-radius: 5%;
}
.fairy p {
  text-align: left;
  padding-left: 5px;
}
.normal {
  background: #a5a5a5;
  border-radius: 10%;
}
.bug p {
  text-align: left;
}
.water p {
  text-align: left;
}
.grass p {
  text-align: left;
}
.fire p {
  text-align: left;
}
.normal p {
  text-align: left;
}
.image1 {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 35% 30% 35%;
  grid-template-rows: 30% 30% 30% 10%;
}
.image2 {
  grid-column: 2;
}
.dataimage {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-row: 4;
  grid-column: 2/3;
}
.dataimage h1 {
  text-align: center;
}
.dataimage1 {
  grid-row: inherit;
  font-size: 20px;
}
.dataimage2 {
  grid-row: inherit;
  font-size: 20px;
}
.dataimage3 {
  grid-row: inherit;
  font-size: 20px;
}
.infoimage {
  color: beige;
  width: 100%;
  height: 535px;
  display: grid;
  grid-template-columns: 80% 20%;
  background-image: url(https://img.wallpapersafari.com/desktop/1680/1050/31/26/tHEULI.jpg);
}
.type {
  margin-top: 30px;
  padding-top: 20px;
}
.type p {
  background-color: #00ca91;
  border: 5px solid black;
  margin: 10px;
}
.barras {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-bottom: 20px;
}
.welcome-message {
  margin-top: 20px;
  grid-column: 1/3;
}
/*
@media (min-width: 492px) {
  .poke-list .col {
    width: 50%;
  }
}

@media (min-width: 728px) {
  .poke-list .col {
    width: 33.3333%;
  }
}

@media (min-width: 992px) {
  .poke-list .col {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .poke-list .col {
    width: 20%;
  }
}
*/
